body {
  background-image: url(images/realance.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

@media screen and (max-width: 768px){
  body {
  background-image: url(images/realanceSmart.jpg);}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.title{
  font-size: 30px;
  font-weight: 700;
  color: rgb(33, 201, 178);
}

html {
  scroll-behavior: smooth;
}


